<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Philipp Keil's Website</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/main.css"
</head>
<body>
  <header class="container">
    <div class="row">
      <nav class="col-sm-12">
        <p>About</p>
        <p>News</p>
        <p>Kevin stinkt</p>
        <p>Contact</p>
      </nav>
    </div>
  </header>
</body>
