html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #192226 !important;
  font-family: Lato, serif;
  font-size: 14px;
  color: #FFF !important;
  padding-top: 50px; /* navbar-fixed-top doesn't move container*/
}

h1, h3, .navbar-brand{
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 900;
}

h1>small {
  text-transform: none;
  color: #a3bfc6;
}

.navbar-inverse {
  background-color: #222B31;
  border-bottom:4px solid #EE445F;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
}

.nav {
  margin-bottom: 0px;
}

.nav li {
  position:relative;
}

.navbar-nav > li > a {
  letter-spacing:2px;
  padding:16px !important;
  color:#a3bfc6 !important;
  text-transform:uppercase;
  position:relative;
  z-index:1000;
}
.navbar-nav > li > a:hover {
  color:#FFF !important;
}

.navbar-inverse .navbar-toggle {
  border:none;
}

.navbar-collapse {
  box-shadow:none !important;
  border:none !important;
}
.navbar-inverse .navbar-toggle:hover {
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:focus {
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:active {
  background:transparent !important;
}

.icon-bar {
  background:#a3bfc6 !important;
}

.nav span.hover {
  display:block;
  position:absolute;
  width:0%;
  height:100%;
  top:0px;
  left:0px;
  background-color: #EE445F !important;
  z-index:0;
  opacity:0;
}

/* SUBPAGE TRANSITIONS with ReactCSSTransitionGroup */
/* the first part of the class, before '*-enter' is provided in transitionName*/

.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

#page_absolute_wrapper {
  width:100%;
  position:absolute;
}

/* STYLING of the Newsreader subpage */

.panel.panel-default {
  background-color: #222B31;
  border-radius: 0px;
  border: 0px;
}

.panel-default>.panel-heading.article-title {
  background-color: #222B31;
  border-left: 4px solid #222B31;
  border-bottom: 4px solid #EE445F;
  border-right: 4px solid #222B31;
  border-top: 4px solid #222B31;
  color: #FFF;
}

.panel-default>.panel-heading.article-title:hover {
  background-color: #192226;
  transition: background-color 300ms;
}

.panel-default .article-a {
  text-decoration: none;
  color: #FFF;
}

.panel-default .panel-body.article-body {
  overflow-y: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 0px;
  border-left: 4px solid #222B31;
  border-bottom: 4px solid #192226; /* subject to change */
  border-right: 4px solid #222B31;
  transition: background-color 300ms,
              max-height 800ms ease-in-out,
              border-bottom 400ms ease-in-out 400ms; /* subject to change */
}

.panel-default .panel-body.article-body:hover {
  background-color: #192226;
}

.panel-default .panel-body.article-body.expanded {
  max-height: 300;
  border-bottom: 4px solid #222B31; /* subject to change */
}

/* FOOTER STYLING */
.footer {
  position: relative;;
  width: 100%;
  height: 50px;
  background-color: #222B31;
  border-top:4px solid #EE445F;
}
